

<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field form-group">
    <%= f.label :codigo_producto %><br>
    <%= f.number_field :codigo_producto, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :nombre_producto %><br>
    <%= f.text_field :nombre_producto, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :pasillo_producto %><br>
    <%= f.number_field :pasillo_producto, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :precio_producto %><br>
    <%= f.number_field :precio_producto,class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
