<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class= "table">
  <thead>
    <tr>
      <th>Codigo producto</th>
      <th>Nombre producto</th>
      <th>Pasillo producto</th>
      <th>Precio producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.codigo_producto %></td>
        <td><%= producto.nombre_producto %></td>
        <td><%= producto.pasillo_producto %></td>
        <td><%= producto.precio_producto %></td>
        <td><%= link_to 'Mostrar', producto %></td>
        <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_producto_path %>
