<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo producto:</strong>
  <%= @producto.codigo_producto %>
</p>

<p>
  <strong>Nombre producto:</strong>
  <%= @producto.nombre_producto %>
</p>

<p>
  <strong>Pasillo producto:</strong>
  <%= @producto.pasillo_producto %>
</p>

<p>
  <strong>Precio producto:</strong>
  <%= @producto.precio_producto %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atras', productos_path %>
